body{
    background-color: #D2D6EF;
    max-width: 800px;
    margin-left: 50%;
    transform: translate(-50%,0%);
}

.text{
    color: 104547;
}

.generateBtn{
    position: absolute;
    margin-left: 50%;
    background-color: #12355B;
    width: 100px;
    border-style: none;
    color: aliceblue;
    text-align: center;
    padding: 10px 14px;
    font-size: 16px; 
    border-radius: 12px;
    transition-duration: 0.2s;
    transform: translate(-50%,0%);
    white-space: pre-line;
}

.generateBtn:hover {
  background-color: #8DB580; /* Green */
  color: white;
}

.topicCheckbox{
    position: static;
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 15px;
}

.generateBtn{
    position: relative;
    display: block;
}

.topicCheckbox label{
    font-size: 20px;
}

.question{
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 12px;
    margin-left: 50%;
    font-size: 20px;
    transform: translate(-50%, 0%);
}
